body, html{
    width: 100%;
    height: 100%;
    font-family:'Courier New', Courier, monospace;
    background: url(BackGround.jpg) no-repeat center center fixed;
    background-size: cover;
    padding-top: 50px;
}

h2,h3{
    font-size:3rem ;
    color: #b19988;
    padding-left: 10px;
    
}
p1{
    color: #b19988;
    display: inline-block;
    padding-bottom: 70px;
    padding-left: 100px;
    
   
   
}

p{
    color: #b19988;
}

li{
    color: #b19988;
}



.ZTM {
    width: 400px;
    padding-left: 20px;
    padding-bottom: 50px;
    
  


  }
.socialmedia{
    display: flex;
    
    padding-bottom: 30px;
    padding-left: 150px;
    background-color: pink;
    justify-content: center;
    
    

  }
img{
    border-radius: 40px;
    margin-top: 50px;

    padding-left: 20px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
 
}




    
  .profilepicutre{
    max-width: 50%;
    max-height: 50%;
    display: flex; 
    justify-content: flex-end;
    
    
  }



  


 

